<div class="row">
<div class="col-md-8 col-md-offset-2 col-sm-12">
  <%= image_tag 'Gatherer_AER_TopBanner.png', class:"img-responsive"  %>
  
</div>
</div>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" ><%=image_tag  "Magic_Logo.png", style:"width: 100px;margin-top:-15px;" %></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">MTG Cards Sales<span class="sr-only">(current)</span></a></li>
        <li><a href="cartas">Cartas</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Nuestros Productos<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <%=form_tag(cartas_path,{:method => :get, class: "navbar-form navbar-left"} ) do  %>
        <div class="form-group">
          <%= text_field_tag "searchbox",params[:searchbox],class: "form-control", placeholder:"Ingresa tu busqueda"%>
        </div>
        <%= submit_tag "Buscar", class:"btn btn-default", :name => nil %> 
        <%= submit_tag "Busqueda Avanzada", class:"btn btn-default", :name => nil %> 
      <%end%>
      
      <ul class="nav navbar-nav navbar-right">
        
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Inicio Sesion <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <%unless user_signed_in? %>
             <li><a href=" <%= new_user_session_path %>">Ingresar</a></li>
             <li><a href=" <%= new_user_registration_path %>">Registrarse</a></li>
            <%else%>
             <li><a href="<%= edit_user_registration_path %>">Editar Datos</a></li>
             <li role= "separador" class="divider"></li>
             <li><a href="<%= destroy_user_session_path %>" data-method="delete">cerrar sesión</a></li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
